/* Темная тема */
[data-md-color-scheme="dark"] {
  --md-primary-fg-color: #01d5c0; /* Основной цвет (teal) */
  --md-accent-fg-color: #ff9800;  /* Акцентный цвет (orange) */
  --md-default-bg-color: #FDD9B5 !important; /* Фон */
  --md-default-fg-color: #212121; /* Текст */
}

/* Светлая тема */
[data-md-color-scheme="light"] {
  --md-primary-fg-color: #d50116; /* Основной цвет (red) */
  --md-accent-fg-color: #ff9800;  /* Акцентный цвет (orange) */
  --md-default-bg-color: #4E5754 !important; /* Фон */
  --md-default-fg-color: #212121; /* Текст */
}

.md-header {
  background: url("../images/3.jpg") center/cover no-repeat; /* Замените на свою картинку */
  background-size: cover; /* Заполняет весь экран */
  width: 100vw;
  height: 100vh; /* Высота шапки */
  position: relative;
  overflow: hidden;
}

.md-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Затемнение */
}

.md-header img {
  width: 100%;
  height: auto;
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}

.scrolled .md-header img {
  transform: translateY(-50px); /* Смещение вверх при скролле */
}

.md-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  backdrop-filter: blur(10px); /* Размытие */
  pointer-events: none;
}

document.addEventListener("DOMContentLoaded", function () {
  const themeToggle = document.querySelector("[for='__palette_1']");
  if (themeToggle) {
    themeToggle.addEventListener("click", function (event) {
      event.preventDefault(); // Отключаем стандартное поведение
    });
  }
});

